@include rotate-animation(clockwise, 360deg);
@include rotate-animation(counterclockwise, -360deg);
@include typewriting(typewriter, 0em, 5.25em); // line one, in large screen
@include typewriting(typewritertwo, 0em, 7.2em); // line two, in large screen
@include typewriting(typewriterthree, 0em, 10.05em); // line three, in large screen


.center__bubbles {

    :nth-child(1){
        transform-origin: 30vw 25vh;
        animation: clockwise 15s  infinite linear;

        @include medium-screen {
            transform-origin: 25vw 15vh;
        }
    }
    :nth-child(2){
        transform-origin: -10vw 20vh;
        animation: counterclockwise 16s  infinite linear;

        @include medium-screen {
            transform-origin: 10vw 10vh;
        }
    }
    :nth-child(3){
        transform-origin: 20vw 10vh;
        animation: clockwise 12s  infinite linear;

        @include medium-screen {
            transform-origin: 15vw -12vh;
        }
    }

}


.button {
    color: white;
    font-size: 25px;
    position: relative;
    text-align: center;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px 5px 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    display: inline-block;
    border: 2.5px solid white;
    border-radius: 6px;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    &:hover {
        cursor: pointer; 
        color: #000 !important;
        text-shadow: none;
    }

    &:hover::before {
        bottom: 0%;
        top: auto;
        height: 106%;
        border-radius: 4px;
    }

    &::before {
        display: block;
        position: absolute;
        left: -1px;
        top: -1px;
        height: 0px;
        width: 102%;
        z-index: -1;
        content: '';
        color: #000 !important;
        border-radius: 4px;
        background: white;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    
}

.description {
    background-color: red;
}

.line {
    color: white;
    position: fixed;
    top: 30vh;  
    left: 15vw;
    width: auto;
    margin: 0;
    display: none;
    border-right: 0px solid;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    
}

.firstline{
    animation: typewriter 1.2s steps(10) 1s 1 normal both, blinkTextCursor 2.2s normal;
    // animation: ;
}

.secondline{
    top : 40vh;
    animation: typewritertwo 1.2s steps(10) 2.2s 1 normal both, blinkTextCursor 1.2s  2.2s  normal;
}

.thirdline {
    top: 50vh;
    animation: typewriterthree 2s steps(25) 3.5s 1 normal both, blinkTextCursor 2s  3.5s  normal;
}

.valid {
    display: block;
}