@include rotate-animation(clockwise, 360deg);
@include rotate-animation(counterclockwise, -360deg);
@include typewriting(typewriter, 0em, 5.8em); // line one, in large screen
@include typewriting(typewritertwo, 0em, 7.4em); // line two, in large screen
@include typewriting(typewriterthree, 0em, 10.42em); // line three, in large screen
@include typewriting(typewriterfour, 0em, 18em); // line three, in large screen

.center__bubbles {

    :nth-child(1){
        transform-origin: 30vw 25vh;
        animation: clockwise 15s  infinite linear;
        transition: background-color 0.15s ease-in-out;
        @include medium-screen {
            transform-origin: 25vw 15vh;
        }
        &:hover {
            background-color: rgb(192, 16, 10);
        }
    }
    :nth-child(2){
        transform-origin: -10vw 20vh;
        animation: counterclockwise 16s  infinite linear;
        background-color :rgb(192, 16, 10);
        transition: background-color 0.15s ease-in-out;
        @include medium-screen {
            transform-origin: 10vw 10vh;
        }
        &:hover {
            background-color: white;
        }
    }
    :nth-child(3){
        transform-origin: 20vw 10vh;
        animation: clockwise 12s  infinite linear;
        transition: background-color 0.15s ease-in-out;
        @include medium-screen {
            transform-origin: 15vw -12vh;
        }
        &:hover {
            background-color: rgb(192, 16, 10);
        }
    }

}

.button, .buttontwo {
    color: white;
    font-size: 25px;
    position: relative;
    text-align: center;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px 5px 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    display: inline-block;
    border: 2.5px solid white;
    border-radius: 6px;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

    &:hover {
        cursor: pointer; 
        color: #000 !important;
        text-shadow: none;
    }

    &:hover::before {
        bottom: 0%;
        top: auto;
        height: 106%;
        border-radius: 4px;
    }

    &::before {
        display: block;
        position: absolute;
        left: -1px;
        top: -1px;
        height: 0px;
        width: 102%;
        z-index: -1;
        content: '';
        color: #000 !important;
        border-radius: 4px;
        background: white;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    
}

.buttontwo {
    opacity: 0;
    left: 15vw;
    z-index: -2;

    &::before {
        width: 101%;
    }
}

.is-inlineblock {
    opacity: 1;
}

.line {
    color: white;
    position: fixed;
    top: 30vh;  
    left: 5vw;
    width: auto;
    margin: 0;
    display: none;
    border-right: 0px solid;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    

    @include medium-screen {
        left: 15vw;
    }
    
}

.firstline{
    animation: typewriter 1.2s steps(10) 1s 1 normal both, blinkTextCursor 2.2s normal;
    // animation: ;
}

.secondline{
    top : 40vh;
    animation: typewritertwo 1.2s steps(10) 2.2s 1 normal both, blinkTextCursor 1.2s  2.2s  normal;
}

.thirdline {
    top: 50vh;
    animation: typewriterthree 2s steps(25) 3.5s 1 normal both, blinkTextCursor 2s  3.5s  normal;
}
.fourthline {
    top: 60vh;
    animation: typewriterfour 2s steps(25) 5.5s 1 normal both, blinkTextCursor 2s  5.5s  normal;
}

.valid {
    display: block;
}


//  --------- Animation systeme solaire ------------

$year-in-second : 30; 
@function revolution($pl-year-in-days){
  @return $pl-year-in-days * $year-in-second / 365.2563 + s
}
@function alphaRandom(){
  @return random(1000)*.001;
}

$sun: 60px;
$mercury-orb : 100px; $mercury-pl: 8px; 
$venus-orb : 150px; $venus-pl: 16px; 
$earth-orb : 300px; $earth-pl: 12px; 
$mars-orb : 400px; $mars-pl: 10px;

*, *:before, *:after{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

// html, body{
//   height:100%;
//   width:100%;
// }

// body{
//   background: black;
// }

.solar-syst{
  display: none;
  opacity: 0;
  margin:0;
  width:50%;
  height:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transition: opacity 2s ease-in-out;
  div{
    border-radius:1000px;
    top:50%;
    left:50%;
    position:absolute;
    // z-index:990;
    &:not(.sun){
      border: 1px solid rgba(102, 166, 229, 0.20);
    }
    &:before{
      left:50%;
      border-radius:100px;
      content:"";
      position:absolute;
    }
  }
}

.sun{
  background: white;
  height:$sun;
  width:$sun;
  margin-top: -$sun / 2;
  margin-left: -$sun / 2;
  background-clip: padding-box;
  border:0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury{
  height: $mercury-orb;
  width: $mercury-orb;
  margin-top: -$mercury-orb / 2;
  margin-left: -$mercury-orb / 2;
  animation: orb revolution(87.5) linear infinite;
  z-index: 999;
  &:before{
    height:$mercury-pl;
    width:$mercury-pl;
    background: #9f5e26;
    margin-top: -$mercury-pl / 2;
    margin-left: -$mercury-pl / 2;
  }
  &:hover {
    cursor: pointer;
    animation: orb 1s linear infinite;
    &::before {
      background-color: #fff;
      box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
    }
  } 
}

.venus{
  height: $venus-orb;
  width: $venus-orb;
  margin-top: -$venus-orb / 2;
  margin-left: -$venus-orb / 2;
  animation: orb revolution(224.7) linear infinite;
  z-index: 998;
  &:before{
    height:$venus-pl;
    width:$venus-pl;
    background:#BEB768;
    margin-top: -$venus-pl / 2;
    margin-left: -$venus-pl / 2;
  }
  &:hover {
    cursor: pointer;
    animation: orb 1.3s linear infinite;
    &::before {
      background-color: #fff;
      box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
    }
  }
}

.earth{
  height: $earth-orb;
  width: $earth-orb;
  margin-top: -$earth-orb / 2;
  margin-left: -$earth-orb / 2;
  animation: orb revolution(365.2563) linear infinite;
  z-index: 997;
  &:before{
    height:$earth-pl;
    width:$earth-pl;
    background:#11abe9;
    margin-top: -$earth-pl / 2;
    margin-left: -$earth-pl / 2;
  }
  &:hover {
    cursor: pointer;
    animation: orb 2s linear infinite;
    &::before {
      background-color: #fff;
      box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
    }
  }
  &:after{
    position: absolute;
    content: "";
    height: 30px;
    width: 18px;
    left: 50%;
    top: 0px;
    margin-left: -9px;
    margin-top: -9px;
    border-radius: 100px;
    box-shadow: 0 -10px 0 -8px grey;
    animation: orb revolution(27.3216) linear infinite;
  }
}
.mars{
  height: $mars-orb;
  width: $mars-orb;
  margin-top: -$mars-orb / 2;
  margin-left: -$mars-orb / 2;
  animation: orb revolution(687) linear infinite;
  z-index: 996;
  transition: all 1s ease-in-out;
  &:before{
    height:$mars-pl;
    width:$mars-pl;
    background:#cf3921;
    margin-top: -$mars-pl / 2;
    margin-left: -$mars-pl / 2;
  }
  &:hover {
    cursor: pointer;
    animation: orb 2s linear infinite;
    &::before {
      background-color: #fff;
      box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
    }
  }
}

@keyframes orb{
  from {
    transform:rotate(0deg)
  }
  to{
    transform:rotate(-360deg)
  }
}