@mixin animation-mixin($name, $deg) {
    @keyframes #{$name} {
        to {
            transform: rotate($deg);
        }
    }
}

@include animation-mixin(move1, 360deg);
@include animation-mixin(move2, -360deg);
@include animation-mixin(move3, 360deg);



.center__bubbles {

    & :nth-child(1){
        transform-origin: 30vw 25vh;
        animation: move1 15s  infinite linear;
    }

    & :nth-child(2){
        transform-origin: -10vw 20vh;
        animation: move2 16s  infinite linear;
    }

    & :nth-child(3){
        transform-origin: 20vw 10vh;
        animation: move3 12s  infinite linear;
    }

}


@media (min-width: 750px){

    .center__bubbles {

        & :nth-child(1){
            transform-origin: 25vw 15vh;
        }
    
        & :nth-child(2){
            transform-origin: 10vw 10vh;
        }
    
        & :nth-child(3){
            transform-origin: 15vw -12vh;
        }
    
    }

}



.button {
	display: inline-block;
	border: 2.5px solid white;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.button:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
.button:hover:before {
	bottom: 0%;
    top: auto;
	height: 100%;
}
.button:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: white;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}