* {
    box-sizing: border-box;
}


body {
    background-color : #333333;
}

.logo {
    width: 30%;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    

    &:hover {
        filter: invert(100%);
        cursor: pointer;
    }
}

.center {
    position: fixed;
}

//Permet de gérer le scroll
/* .waypoint {
    position: relative;
    height: 100px;
    top: 500px;
    background-color: red;
    opacity: 0;
} */

.center__bubble {
    width: 10px;
    height: 10px;
    background-color: white;
    position: fixed;
    border-radius: 100%;

    .center__bubbles{
        position: fixed;

        &:hover {
            filter: invert(100%);
        }
    }
}


// Sans media

.center__bubbles :nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20vw;
    top: 25vh;
    filter: blur(2px);
}

.center__bubbles :nth-child(2) {
    width: 20px;
    height: 20px;
    left: 60vw;
    top: 30vh;
    filter: blur(1px);
}

.center__bubbles :nth-child(3) {
    width: 30px;
    height: 30px;
    left: 30vw;
    top: 40vh;
}




// Avec Media 750 px

@media(min-width: 750px){
    .logo{
        width: 10%;
    }

    
    .center__bubbles :nth-child(1) {
        left: 25vw;
        top: 35vh;
    }
    
    .center__bubbles :nth-child(2) {
        left: 40vw;
        top: 40vh;
    }
    
    .center__bubbles :nth-child(3) {
        left: 35vw;
        top: 62vh;
    }


}
