
body {
    background-color : #242424;
    font-family: 'Rubik', sans-serif;
}

.logo {
    width: 30%;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    transition: all 0.7s;

    @include medium-screen {
        width: 10%;
    }

    &.zoom {
        width: 2%;
        opacity: 0;
    }

}

.hidden {
    opacity: 0;
}

.center {
    position: fixed;
}

.center__bubble {
	background-color: white;
	position: fixed;
    border-radius: 100%;
    transition: opacity 0.5s ease-out;
}

.center__bubbles {

    :nth-child(1) {
        width: 40px;
        height: 40px;
        left: 20vw;
        top: 25vh;
        filter: blur(0px);

        @include medium-screen {
            left: 25vw;
            top: 35vh;
        }
    }
    :nth-child(2) {
        width: 20px;
        height: 20px;
        left: 60vw;
        top: 30vh;
        filter: blur(0px);

        @include medium-screen {
            left: 40vw;
            top: 40vh;
        }
    }
    :nth-child(3) {
        width: 30px;
        height: 30px;
        left: 30vw;
        top: 40vh;
        filter: blur(0px); 
    
        @include medium-screen {
            left: 35vw;
            top: 62vh;
        }
    }
}

.photo {
    width: 50%;
    position: fixed;
    bottom: 0;
    z-index: -2;
    opacity: 0;
    display: block;
    left: 50vw;
    transition: all 1s ease-in-out;
}

.visible {
    opacity: 100;
}


.icones {
    width: 50px;
    height: 20vh;
    position: fixed;
    left: 1vw;
    top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a{
        fill: #adadad;
        transition : all 0.3s;
    
        &:hover{
            fill: white;
        };
    }

}



