
// ------ screen-width mixin ------ //

@mixin medium-screen {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin large-screen {
    @media (min-width: 1280px) {
        @content;
    }
}


// ------ animation mixin ------ //

@mixin rotate-animation($name, $deg) {
    @keyframes #{$name} {
        to {
            transform: rotate($deg);
        }
    }
}


@mixin typewriting($name, $from, $to) {
    @keyframes #{$name} {
        from{width: $from;}
        to{width: $to;}
    }
}


@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}


