
// ------ screen-width mixin ------ //

@mixin medium-screen {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin large-screen {
    @media (min-width: 1280px) {
        @content;
    }
}


// ------ animation mixin ------ //

@mixin rotate-animation($name, $deg) {
    @keyframes #{$name} {
        to {
            transform: rotate($deg);
        }
    }
}


@mixin typewriting($name, $from, $to, $color) {
    @keyframes #{$name} {
        from{width: $from;}
        to{
            width: $to;
            border-color: $color;
        }
    }
}


@keyframes blinkTextCursor{
    from{border-right: 2px solid transparent;}
    10%{border-right: 2px solid rgba(255,255,255,.75);}
    20%{border-right: 2px solid transparent;}
    30%{border-right: 2px solid rgba(255,255,255,.75);}
    40%{border-right: 2px solid transparent;}
    50%{border-right: 2px solid rgba(255,255,255,.75);}
    60%{border-right: 2px solid transparent;}
    70%{border-right: 2px solid rgba(255,255,255,.75);}
    80%{border-right: 2px solid transparent;}
    90%{border-right: 2px solid rgba(255,255,255,.75);}
    to{border-right: 2px solid transparent;}
}


